<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="School_Management_System.Properties.Settings.ist2lkConnectionString"
            connectionString="Data Source=143.128.146.30\istn2;Initial Catalog=ist2lk;Persist Security Info=True;User ID=ist2lk;Password=p32ehb;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="School_Management_System.Properties.Settings.ConnectionString"
            connectionString="Data Source=143.128.146.30\istn2;User ID=ist2lk;Password=p32ehb;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>